In [7]:
#for loop
l=[1,2,3,4,5,"varsha","gs",45.3]
for i in l:
    print(i)

1
2
3
4
5
varsha
gs
45.3

In [2]:
#if we want to not expect any part,
for i in l:
    pass

In [3]:
#execute list
for i in l:
    print(i)
else:
    print("if for loop is going to")

1
2
3
5
varsha
gs
45.3
if for loop is going to

In [8]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print("this will be")

1
2
3

In [9]:
#string:
s = "varsha"
for i in s:
    if i == "n":
        break
    print(i)
else:
    print("string", s)

v
a
r
s
h
a
string varsha

In [10]:
#string:
s = "varsha"
for i in s:
    if i == "h":
        break
    print(i)
else:
    print("string", s)

v
a
r
s

In [11]:
#tuple:
t = (4,5,6,7,8,9,"varsha")
for i in t:
    print(i)

4
5
6
7
8
9
varsha

In [22]:
#dict
d = {4,5,6,7,8,7,7,"key1" : "varsha"}

<class 'SyntaxError'>: invalid syntax (<ipython-input-22-7125c5c2fc54>, line 2)

In [27]:
for i in d:
    print(i, )

4
5
6
7
8
varsha

In [28]:
#range:- starting to range from 0 till n.
range(9)

range(0, 9)

In [29]:
range(9,0)

range(9, 0)

In [30]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
for i in range(9):
    print(i)
list(range(0,9,2))

0
1
2
3
4
5
6
7
8

[0, 2, 4, 6, 8]

In [33]:
list(range(0,9,-1))

[]

In [34]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
n=4
for i in range(4):
    for j in range(0, i+1):
        print("varsha", end= " ")
    print("\n")

varsha

varsha varsha

varsha varsha varsha

varsha varsha varsha varsha

In [40]:
n=3
for i in range(n):
    for j in range(i, n-1):
        print(" " * len("varsha"), end= " ")
    for j in range (i+1):
        print("varsha",end= " ")
    for j in range(i):
        print("varsha",end=" ")
    print()

              varsha
       varsha varsha varsha
varsha varsha varsha varsha varsha

In [41]:
#multiple loop
t=(3,23,45,67,2,4,5,6)
#if we want to print element,
for i in range(len(t)):
    print(i, t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [42]:
s = "varsha"
for i in range(len(s)):
    print(i, s[i])

0 v
1 a
2 r
3 s
4 h
5 a

In [43]:
#reverse:
s

'varsha'

In [45]:
list(range(len(s), 0, -1))

[6, 5, 4, 3, 2, 1]

In [46]:
#string
s

'varsha'

In [49]:
#reverse:
for i in range(len(s)-1, -1, -1):
    print(i,s[i])

5 a
4 h
3 s
2 r
1 a
0 v

In [58]:
#try to print items in te dict,
d = {"key":"varsha","contact":"ineuran.ai","position":"xyz"}
for i in d.items():
    print(i)

('key', 'varsha')
('contact', 'ineuran.ai')
('position', 'xyz')

In [59]:
#type of values:
for i in d.items():
    print(i, type(i[1]))

('key', 'varsha') <class 'str'>
('contact', 'ineuran.ai') <class 'str'>
('position', 'xyz') <class 'str'>

In [60]:
#if we count only int
l=[1,2,3,4,5,"varsha","gs",456]
l1=[]
for i in l:
    if type(i) == int:
        l1.append(i)

In [61]:
l1

[1, 2, 3, 4, 5, 456]

In [63]:
#extractiong all the numberic values and keys:
d= {1:23424767,"name":"varsha","email_id":"varsha.com",234:"vareds","34":"efdsf",234:"2345"}
for i in d:
    if type(i) == int:
        print(i, ":", d[i])

1 : 23424767
234 : 2345

In [64]:
#extractiong all the not-numberic values and keys:
d= {1:23424767,"name":"varsha","email_id":"varsha.com",234:"vareds","34":"efdsf",234:"2345"}
for i in d:
    if type(i) != int:
        print(i, ":", d[i])

name : varsha
email_id : varsha.com
34 : efdsf

In [65]:
s="hfgdtdhtsdtujgf"
#print one by one in count:
for i in set(s):
    print(i, ":", s.count(i))

t : 3
u : 1
s : 1
f : 2
g : 2
d : 3
j : 1
h : 2

In [67]:
i=3456765
for j in str(i):
    print(int(j), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
6 <class 'int'>
5 <class 'int'>

In [80]:
#extract 3
t1=("varsha","GS",[1,2,3,4,5],(3,4,5,6),{"key1":"varsha","key2":"GS"})

In [85]:
#extract 3
t2=("varsha","GS",[1,2,3,4,5],(3,4,5,6),{3:3,"key2":"GS"})

In [83]:
#extract 3
for i in t1:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)

3
3

In [86]:
t2

('varsha', 'GS', [1, 2, 3, 4, 5], (3, 4, 5, 6), {3: 3, 'key2': 'GS'})

In [87]:
for i in t2:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        print(i)
        for k in i.items():
            print(k)

3
3
{3: 3, 'key2': 'GS'}
(3, 3)
('key2', 'GS')

In [89]:
#extract all the 3
for i in t2:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        print(i)
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
{3: 3, 'key2': 'GS'}
3
3

In [90]:
#d.items
d={4:5, "key1":"varsha","key2":"GS"}
for i in d.items():
    print(i)

(4, 5)
('key1', 'varsha')
('key2', 'GS')